/* Navbar.css */

.navbar {
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    /* Adjust to your desired color */
}

.navbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    margin-right: 20px;
    /* Space between logo and links */
}

.navbar-logo img {
    height: 40px;
    /* Adjust the logo size as needed */
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

.navbar-link:hover {
    color: #f1f1f1;
    /* Hover effect */
}